body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px -8px;
}
.main-wrapper * {
    position: absolute;
}

.airport {
    left: -3957px;
}


.stay-on-top {
    top: 8px;
    opacity: 0;
}

.without-wifi {
    top: 15px;
    opacity: 0;
}

.airplane, .wheel {
    left: 240px;
}

.airplane2 {
    opacity: 0;
    rotate: 5deg;
    /* scale: 1; */
    top: 8px;
    left: 2px;
}

.cloud {
    top: -262px;
    left: -236px;
}

.last-frame {
    top: -200px;
} 

.sticker {
    left: 85px;   
    top: 10px;
}